<block-content template-url="block-content-banner.directive.html" name="'banner-contact'" config="configBanner"></block-content>

<div class="container-fluid">
    <div class="row-fluid">
        <div>
            Ce formulaire est à votre disposition pour nous contacter en cas de besoin. Nous vous répondrons dans les plus brefs délais.
        </div>
        <form ng-submit="sendContact()" novalidate method="POST">
            <div class="control-group">
                <label class="control-label" for="inputName">Votre nom</label>
                <div class="controls">
                    <input id="inputName" type="text" placeholder="Votre nom" ng-model="contact.name" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputEmail">Votre Email</label>
                <div class="controls">
                    <input id="inputEmail" type="text" placeholder="Votre email" ng-model="contact.email" />
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="inputContent">Votre demande</label>
                <div class="controls">
                    <textarea id="inputContent" placeholder="Votre demande" rows="3" ng-model="contact.content"></textarea>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <button type="submit" class="btn">Envoyer</button>
                </div>
            </div>
        </form>
    </div>
</div>