<block-content template-url="block-content-banner.directive.html" name="'banner-logistique'" config="vm.configBanner"></block-content>

<div class="container-fluid">

    <div class="row-fluid">
        <div class="span4 greyzone">
            <h4>Contactez-nous</h4>
            <p>
                Ce formulaire est à votre disposition pour nous contacter en cas de besoin. Nous vous répondrons dans les plus brefs délais.
            </p>
            <div class="alert alert-success"  ng-show="vm.messageContactCreated" ng-bind="vm.messageContactCreated"></div>
            <div>
                <form ng-submit="vm.sendContact()" novalidate method="POST">
                    <div class="control-group">
                        <label class="control-label" for="inputName">Votre nom</label>
                        <div class="controls">
                            <input id="inputName" type="text" placeholder="Votre nom" ng-model="vm.contact.name" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputEmail">Votre Email</label>
                        <div class="controls">
                            <input id="inputEmail" type="text" placeholder="Votre email" ng-model="vm.contact.email" />
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputContent">Votre demande</label>
                        <div class="controls">
                            <textarea id="inputContent" placeholder="Votre demande" rows="3" ng-model="vm.contact.content"></textarea>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <button type="submit" class="btn">Envoyer</button>
                        </div>
                    </div>
                </form>
            </div>
        </div><!-- /span4 -->

        <div class="span4 whitezone">
            <h4>WE ARE SOCIAL</h4>
            <p>
                <i class="icon-twitter"></i> @ModusTheme <br>
                <i class="icon-instagram"></i> Modus Theme <br>
                <i class="icon-linkedin"></i> Modus Theme Team <br>
                <i class="icon-apple"></i> Modus <br>
            </p>
        </div><!-- /span4 -->

        <div class="span4 map">
            <ui-gmap-google-map
                    center='vm.map.center'
                    zoom='vm.map.zoom' aria-label="Google map">

                <ui-gmap-marker ng-repeat="marker in vm.markers"
                                coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
                    <ui-gmap-window>
                        <div>{{marker.window.title}}</div>
                    </ui-gmap-window>
                </ui-gmap-marker>

            </ui-gmap-google-map>
        </div><!-- /span4 -->
    </div>
</div>

